<h2 style="border-bottom: 4px solid; border-color: #9b164f; padding: 0.5em;font-family: MetricWeb, Helvetica, Sans; font-weight: 200; margin:0 0 0.5em 0;">{{#meta}}{{description}}{{/meta}}</h2>
{{#items}}<a href="{{link}}" style="margin-bottom: 1em; color: #333; text-decoration: none;"><div style="border-bottom: 1px dotted #bbb; padding: 0 0.5em 0.5em 0.5em;">
<h4 style="font-weight: 400; font-size: 1.5em; line-height: 2em; margin: 0;">{{title}}</h4>
{{#author}}{{author}} - {{/author}}{{date}}
<p style="font-family: MetricWeb, Helvetica, Sans; font-weight: 200;">{{description}}</p>
</div></a>{{/items}}
