<div style="background: #fff1e0; color: #333;">
<h2 style="border-bottom: 4px solid; border-color: #9b164f; padding: 0.5em; font-family: Helvetica, Sans; font-weight: 100; margin:0 0 0.5em 0; opacity: 0.8;">{{#meta}}{{description}}{{/meta}}</h2>
{{#items}}
<a href="{{link}}" style="margin-bottom: 1em; color: #333; text-decoration: none;">
	<div style="border-bottom: 1px dotted #bbb; padding: 0 0.5em 0.5em 0.5em;">
		<h4 style="font-weight: 400; font-size: 1.5em; line-height: 1.7em; margin: 0 0 0.5em 0;">{{title}}</h4>
		{{#author}}{{author}} - {{/author}}{{humanDate}}
		<p style="font-family: Helvetica, Sans; font-weight: 200; font-size: 1.2em; line-height: 1.3em; opacity: 0.8;">{{description}}</p>
	</div>
</a>
{{/items}}
</div>
